body{
    background-color: violet;
}
input {
    float: right;
    clear: right;
}
fieldset{

    border-radius: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white ;
    padding: 5%;
    text-align: left;

}

form {
    margin: 0 auto;
    width: 75%;
  
}

input{
    text-align: center;
    border-radius: 3vh;
    width: 30%;
    float: right;
}

input 