@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

* {
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    
  }
  .navbar {
    padding: 15px;
    
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 3px solid #f2f2f2;
    text-decoration: none;
    
  }
  .navbar h1 {
    color: #f06d56;
    font-family: "Permanent Marker";
    text-align: center;
    text-decoration: none;

  }

  .navbar a:hover {
    color: #ec654d;
  }
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }

  /*Footer*/

  .footer{
    margin-top: 1rem;
    padding: 1rem;
    background: #ec654d;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }

  .footer .row{
    margin-bottom: 1rem;
  }

  .footer .contact {
    margin-bottom: 2em;
    position: relative;
    
  }

  .footer .icons{
    fill: white;
   color: white;
   margin: 10px;
    
  }

  

