
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower'; cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.header a {
    text-decoration: none;
    color: #111111;
    font-size: 2rem;
}

.menu-items{
    list-style: none;
    display: flex;
    align-items: center;   
}

.menu-items li a {
    font-size: 0.5rem;
    padding: 0.5em 1em;
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

.menu-items li a:hover{
    background-color: #ccc7d3;
}
.section{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    background-color: #d3ede0;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%237de2db' fill-opacity='0.29' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.hero-col {
    padding: clamp(1rem, 5vw, 5rem);
    max-width: 50%;
}

.section h1 {
    font-family: 'Indie Flower'; cursive;
    font-size: clamp(45px, 5vw, 200px);
    font-weight: 500;
    line-height: 3.5vw;
    color: #ccc7d3;
    text-transform: lowercase;

}

.section h2{
    font-size: clamp(18px, 2.5vw, 60px);
    color: #5a4d70;
    padding-left: 3rem;
    text-transform: lowercase;
}

.section p {
    color: #5a4d70;
    padding-right: 1rem;
}

.custom-shape-divider{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider .shape-fill {
    fill: #ffffff;
  }
  .hero-col {
    max-width: 100%;
    width: clamp(300px, 50vw, 600px);
    padding: 0;
  }
  .hero-img {
    display: none;
  }
  @media (max-width: 767px) {
    .custom-shape-divider svg {
      width: calc(250% + 1.3px);
      height: 150px;
    }
    .header a {
      font-size: 1rem;
    }
    .menu-btn {
      display: flex;
    }
 
 
   
    
  }









