div{
    background-color: burlywood;
    width: 500px ;
    padding: 10px
}

div p{
    padding: 10px;
    background-color: whitesmoke;
}


p.test {
    width: 29%;
    height: 15%;
    overflow: hidden;
    border-style: dotted;
    visibility: visible;
    border-image: url(https://www.tomswallpapers.com/images/201507/tomswallpapers.com_28604.jpg) 11 11 round;
    border-width: 7px;
    -webkit-box-shadow: 11px 8px 5px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 11px 8px 5px 0px rgba(0, 0, 0, 0.47);
}

p.b{
    width: 29%;
    height: 15%;
    overflow: hidden;
    border-style: dotted;
    visibility: visible;
    border-image: url(https://www.tomswallpapers.com/images/201507/tomswallpapers.com_28604.jpg) 11 11 round;
    border-width: 7px;
    -webkit-box-shadow: 11px 8px 5px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 11px 8px 5px 0px rgba(0, 0, 0, 0.47);
}

p.a{
    width: 29%;
    height: 15%;
    border-style: dotted;
    visibility: visible;
    border-image: url(https://i.imgur.com/i7c4LBv.jpeg) 11 11 round;
    border-width: 7px;
     visibility: visible;
    

}