

body{
    display: block;
}
.grid-item {
    background-color: tomato;
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto auto;
  }

  @media (max-width: 600px){
      .grid-container{
          display: ;
      }
  }